
:root{
  --white: white;
  --black: black;
  --tx: #292929;
  --bg: #eee;
  --head-bg: #cccccc;
  --blue2:#adebff;
  --button-bg:#003459;
  --button-tx: white;
  --button-bg-hover:#005999; 
  --card-bg: white;

}